---
layout: default
---

{% include sections/jumbotron.html %}
{% include sections/social.html %}
{% include sections/performances.html %}
{% include sections/row-tickets.html %}
{% include sections/workshops.html %}
{% include sections/quotes1.html %}
{% include sections/schedule.html %}
{% include sections/map.html %}
{% include sections/quotes2.html %}
{% include sections/sponsors.html %}
{% include sections/row-years.html %}
{% include sections/team.html %}

<div class="modal" id="modal-next-tilt" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

 	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tilt 5 is coming!</h4>
      </div>
      <div class="modal-body text-center">
        <p>The dates for Tilt 5 have been announced! The next Tilt International Improv Festival will take place in Tallinn, Estonia
        on</p><p class="lead"> <strong>21 - 23 September 2017</strong>!</p> <p>Stay tuned for more updates!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Awesome!</button>
      </div>

    </div>
  </div>
</div>
