<div class="row">
    <div class="col-lg-8">
        {% assign month = day_events.items[0].start | date: '%B' | downcase | prepend: "month." %}
        <h3>{{ day_events.items[0].start | date: '%d' }} {% t month %}</h3>
        <div class="table-responsive">
            <table class="table table-tickets table-hover table-condensed">
                {% for event in day_events.items %}
                <tr>
                    <td>
                        <strong>{{ event.start | date: '%H:%M' }} - {{ event.end | date: '%H:%M' }}</strong>
                    </td>
                    <td>
                        {% if event.collection == 'workshops' %}
                        {% t content.workshop %}
                        {% else %}
                        {% t content.show %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ event.url }}" data-toggle="modal" data-target="#modal-details">
                            {{ event.name }} - {% t event.title %}
                        </a>
                    </td>
                    <td><a href="#map"><i class="fa fa-2x fa-map-marker"></i></a></td>
                    <td><a href="#"><i class="fa fa-2x fa-ticket"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-lg-3 col-lg-offset-1">
        <h3 class="text-right">{{ day_events.items[0].name }}<br/>{% t day_events.items[0].title %} / {{
            day_events.items[0].country | upcase }}</h3>
        {% img '{{ day_events.items[0].image }}' alt:'{{ day_events.items[0].name }}' class:'img-responsive
        img-thumbnail' %}
        <p class="lead pull-right">
            <a data-toggle="modal" data-target="#modal-details" href="{{ day_events.items[0].url }}">{% t
                content.read_more %} <i class="fa fa-chevron-right"></i></a>
        </p>
    </div>
</div>
