<div class="row row-equal-height">
    <div class="col-md-8 col-lg-8">
        {% assign month = day_events.items[0].start | date: '%B' | downcase | prepend: "month." %}
        <h3>{{ day_events.items[0].start | date: '%d' }} {% t month %}</h3>

        <div class="table-responsive">
            <table class="table table-tickets table-hover table-condensed">
                {% for event in day_events.items %}
                {% if event.show_in_schedule %}
                    <tr data-image="{{ event.image | asset_path }}">
                        <td>
                            <strong>{{ event.start | date: '%H:%M' }} - {{ event.end | date: '%H:%M' }}</strong>
                        </td>
                        <td class="hidden-xs">
                            {% if event.collection == 'workshops' %}
                            {% t content.workshop %}
                            {% else %}
                            {% t content.show %}
                            {% endif %}
                        </td>
                        <td>
                            <a data-toggle="modal" data-target="#modal-details" href="{{ site.baseurl | append:event.url }}">
                                {% if event.collection == 'workshops' %}
                                    {{ event.name }} - {% t event.title %}
                                {% else %}
                                    {% t event.title %}
                                {% endif %}
                            </a>
                        </td>
                        <td><a href="#map" title="{% t menu.venues %}"><i class="icon-map-marker"></i></a></td>
                        <td>
                            {% if event.collection == 'workshops' %}
                            {% capture ticket_url %}{{ event.ticket_url }}{% endcapture %}
                            {% else %}
                            {% capture ticket_url %}{% t event.ticket_url %}{% endcapture %}
                            {% endif %}
                            {% unless ticket_url == 'https://' %}
                            <a href="{{ ticket_url }}" title="{% t content.buy_ticket %}"><i class="icon-ticket"></i></a>
                            {% endunless %}
                        </td>
                    </tr>
                {% endif  %}
                {% if event.collection == 'workshops' and day_events.items[forloop.index].collection == 'performances' %}
                <tr><td colspan="5">&nbsp;</td></tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>

    </div>

    <div class="col-md-3 col-lg-3 col-lg-offset-1 col-day-info hidden-xs hidden-sm">
        <a data-toggle="modal" data-target="#modal-details" href="{{ site.baseurl | append:day_events.items[0].url }}">
            {% img '{{ day_events.items[0].image }}' alt:'Image of a performer' class:'img-responsive' %}
        </a>
    </div>
</div>
