<div class="row">
    <div class="col-lg-12">
        <h1>{% t menu.venues %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-info text-center">
            <div class="panel-heading"><h4>{% t map.performance_venue %}</h4></div>
            <div class="panel-body">
                <p>{% t map.performance_venue_address %}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-info text-center">
            <div class="panel-heading"><h4>{% t map.workshop_venue %}</h4></div>
            <div class="panel-body">
                <p>{% t map.workshop_venue_address %}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-info text-center">
            <div class="panel-heading"><h4>{% t map.hostel %}</h4></div>
            <div class="panel-body">
                <p>{% t map.hostel_address %}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="map-container" id="map">
            <div class="map"></div>
        </div>
    </div>
</div>
