<div class="row">
    <div class="col-lg-12">
        <h1 id="media">{% t menu.media %}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
        {% for year in site.data.media %}
        <div class="text-center">
        <h3>{{ year[0] }}</h3>

        <ul class="list-unstyled">
        	{% for article in year[1] %}
        		<li>
        			<a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
    			</li>
        	{% endfor %}
        </ul>
        </div>
        {% endfor %}
    </div>
</div>
