
<div class="row">
    <div class="col-lg-12">
        <h1 id="performers">{%t menu.performers %}</h1>
    </div>
</div>

<div class="row row-equal-height">
    {% for performer in site.performances %}
    {% capture index %}{% cycle 'one', 'two', 'three', 'four' %}{% endcapture %}

    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 col-schedule">
        <h4 class="text-center">
            <a href="{{ site.baseurl | append:performer.url }}" data-toggle="modal" data-target="#modal-details">{{ performer.name }}
                <br />
                {{ performer.country | upcase }}</a>
        </h4>
        <a href="{{ site.baseurl | append:performer.url }}" data-toggle="modal" data-target="#modal-details">
            {% img '{{ performer.image }}' alt:'{{ performer.name }}' class:'img-responsive center-block' %}
        </a>
    </div>
    {% if index == 'four' %}
</div>
<div class="row row-equal-height row-buffer-top">
    {% endif %}

    {% endfor %}
</div>
