<div class="row gray clip-downward row-equal-height hidden-xs hidden-sm">
    <div class="col-xs-12 col-sm-4 col-lg-4 vertical-center">
        <a href="#schedule" class="btn btn-circle btn-warning">{% t menu.schedule %}</a>
        <a href="#performers" class="btn btn-circle btn-danger">{% t menu.performers %}</a>
        <a href="#team" class="btn btn-circle btn-primary">{% t menu.team %}</a>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8">

        <div id="carousel1-quote" class="carousel slide" data-ride="carousel" data-interval="10000" data-pause="hover">
            {% tf media.html %}
        </div>
    </div>
</div>
