
<div class="row gray highlights">
    <div class="col-lg-6">
        <ul class="list-unstyled lead">
            <li>{% t stats.total_years %}</li>
            <li>{% t stats.total_performances %}</li>
            <li>{% t stats.total_workshops %}</li>
        </ul>
    </div>
    <div class="col-lg-6">
        <ul class="list-unstyled lead">
            <li>
                <a href="https://2013.improfestival.ee" target="_blank">2013</a>
            </li>
            <li><a href="https://2014.improfestival.ee" target="_blank">2014</a></li>
            <li><a href="https://2015.improfestival.ee" target="_blank">2015</a></li>
        </ul>
    </div>
</div>
