{% assign all_events = site.workshops | a_concat: site.performances | sort: 'start' %}

<div class="row">
    <div class="col-lg-8">
        <h1>{% t menu.schedule %}</h1>

        <div class="table-responsive">
            <table class="table table-tickets">
                {% for event in all_events %}
                <tr>
                    <td>
                        <strong>{{ event.start | date: '%m.%d %H:%M' }} - {{ event.end | date: '%H:%M' }}</strong>
                    </td>
                    <td>{{ event.name }} - {% t event.title %}</td>
                    <td><a href="#"><i class="fa fa-2x fa-map-marker"></i></a></td>
                    <td><a href="#"><i class="fa fa-2x fa-ticket"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-lg-4">
        <h3>{{ all_events[0].name }}<br />{% t all_events[0].title %} / {{ all_events[0].country | upcase }}</h3>
        <img src="{{ all_events[0].image }}" alt="{{ all_events[0].title }}" class="img-responsive img-thumbnail"/>
        <p class="lead"><a href="#">{% t content.read_more %} <i class="fa fa-chevron-right"></i></a></p>
    </div>
</div>
