
<div class="row gray social">
    <div class="col-sm-2 col-lg-7">
        <a href="{{ site.social.facebook }}" target="_blank" class="btn btn-lg"><i
                class="fa fa-facebook-square fa-5x"></i></a>
        <a href="{{ site.social.twitter }}" target="_blank" class="btn btn-lg"><i
                class="fa fa-twitter-square fa-5x"></i></a>
        <a href="{{ site.social.ical }}" target="_blank" class="btn btn-lg"><i class="fa fa-calendar fa-5x"></i></a>
        <a href="{{ site.social.instagram }}" target="_blank" class="btn btn-lg"><i class="fa fa-instagram fa-5x"></i></a>
        <a href="{{ site.social.youtube }}" target="_blank" class="btn btn-lg"><i class="fa fa-youtube fa-5x"></i></a>

    </div>
    <div class="col-sm-6 col-lg-4">
        <a href="#" class="btn btn-lg btn-circle btn-success">{% t menu.performers %}</a>
        <a href="#" class="btn btn-lg btn-circle btn-danger">{% t menu.workshops %}</a>
        <a href="#" class="btn btn-lg btn-circle btn-warning">{% t menu.schedule %}</a>
    </div>
</div>
