
<div class="row gray social">
    <div class="col-sm-4 col-md-6 col-lg-5">
        <a title="Facebook" href="{{ site.social.facebook }}" target="_blank" class="btn btn-lg"><i
                class="icon-facebook-square"></i></a>
        <a title="Twitter" href="https://twitter.com/{{ site.social.twitter }}" target="_blank" class="btn btn-lg"><i
                class="icon-twitter-square"></i></a>
        <a title="Calendar feed (ical)" href="{{ site.baseurl }}{{ site.social.ical }}" target="_blank" class="btn btn-lg"><i class="icon-calendar"></i></a>
        <a title="YouTube" href="{{ site.social.youtube }}" target="_blank" class="btn btn-lg"><i class="icon-youtube"></i></a>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 col-lg-offset-2">
        <a href="#schedule" class="btn btn-circle btn-warning">{% t menu.schedule %}</a>
        <a href="#workshops" class="btn btn-circle btn-danger">{% t menu.workshops %}</a>
        <a href="#performers" class="btn btn-circle btn-success">{% t menu.performers %}</a>
    </div>
</div>
