
<div class="row gray social">
    <div class="col-sm-6 col-md-6 col-lg-6 hidden-xs">
        <a title="Facebook" href="{{ site.social.facebook }}" target="_blank" class="btn btn-lg"><i
                class="fa fa-facebook-square fa-3x"></i></a>
        <a title="Twitter" href="{{ site.social.twitter }}" target="_blank" class="btn btn-lg"><i
                class="fa fa-twitter-square fa-3x"></i></a>
        <a title="Calendar feed (ical)" href="{{ site.social.ical }}" target="_blank" class="btn btn-lg"><i class="fa fa-calendar fa-3x"></i></a>
        <a title="Instagram" href="{{ site.social.instagram }}" target="_blank" class="btn btn-lg"><i class="fa fa-instagram fa-3x"></i></a>
        <a title="YouTube" href="{{ site.social.youtube }}" target="_blank" class="btn btn-lg"><i class="fa fa-youtube fa-3x"></i></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <a href="#schedule" class="btn btn-circle btn-warning">{% t menu.schedule %}</a>
        <a href="#workshops" class="btn btn-circle btn-danger">{% t menu.workshops %}</a>
        <a href="#performers" class="btn btn-circle btn-success">{% t menu.performers %}</a>
    </div>
</div>
