<div class="row">
    <div class="col-lg-12">
        <h1 id="team">{% t menu.team %}</h1>
    </div>
</div>
<div class="row">
    {% for staff in site.team %}
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
        <a data-toggle="modal" data-target="#modal-details"
           href="{{ site.baseurl | append:staff.url }}">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="{{ staff.image | asset_path }}"
                 alt="{{ staff.name }}"
                 class="b-lazy img-circle img-responsive img-grayscale" />
        </a>
        <h4 class="text-center">{{ staff.name }}</h4>
    </div>
    {% endfor %}
</div>
