{% comment %}
<div class="row">
    <div class="col-lg-12">
        <h1 id="tickets">{% t menu.tickets %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6"><p class="lead">{% t content.get_ticket %} <a href="#">{% t content.here %} <i
            class="fa fa-chevron-right"
            aria-hidden="true"></i></a></p>
    </div>
    <div class="col-lg-6"><p class="lead">{% t content.get_one_day_pass %} <a href="#">{% t content.here %} <i
            class="fa fa-chevron-right"
            aria-hidden="true"></i></a>
    </p></div>
</div>
{% endcomment %}
