<div class="row">
    <div class="col-lg-12">
        <h1 id="workshops">{% t menu.workshops %}</h1>
    </div>
</div>

{% if site.workshops.size > 0 %}
    <div class="row row-equal-height">
        {% for workshop in site.workshops %}
        {% capture index %}{% cycle workshops:'one', 'two', 'three' %}{% endcapture %}

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-schedule">
            <h4 class="text-center hidden-xs">
                <a href="{{ site.baseurl | append:workshop.url }}" data-toggle="modal" data-target="#modal-details">
                    {{ workshop.name }}<br/>{% t workshop.title %} <br/> {{ workshop.country | upcase }}</a>
            </h4>

            <a href="{{ site.baseurl | append:workshop.url }}" data-toggle="modal" data-target="#modal-details">
                <div class="image-container">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-src="{{ workshop.image | asset_path }}"
                         alt="{{ workshop.name }}"
                         class="b-lazy img-responsive center-block" />

                    {% if workshop.sold_out %}
                        <h3>{% t content.sold_out %}</h3>
                    {% endif %}
                </div>
            </a>
        </div>

        {% if index == 'three' %}
    </div>
    <div class="row row-equal-height">
        {% endif %}

        {% endfor %}
    </div>

{% else %}

<p>{% t content.no_info_yet %}</p>

{% endif %}
