$icomoon-font-path: "fonts" !default;

$icon-chevron-right: "\e905";
$icon-ticket: "\e906";
$icon-map-marker: "\e907";
$icon-youtube: "\e900";
$icon-instagram: "\e901";
$icon-calendar: "\e902";
$icon-twitter-square: "\e903";
$icon-facebook-square: "\e904";

