<ol class="carousel-indicators">
    {% for article in site.data.media.2016 %}
        <li data-target="#carousel1-quote" 
        data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
    {% endfor %}
</ol>
<div class="carousel-inner" role="listbox">

{% for article in site.data.media.2016 %}
<div class="item{% if forloop.first %} active{% endif %}">
    <blockquote class="vertical-center">
        <p><strong><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></strong></p>
        <p>{{ article.excerpt }}</p>
    <hr />
    <p>
        <a data-toggle="modal" data-target="#modal-details"
           href="{{ site.baseurl | append:'media.html' }}">{% t content.tilt_in_media %}</a>
    </p>
    </blockquote>
</div>
{% endfor %}
</div>