<div class="modal fade" id="modal-{{ staff.slug }}" tabindex="-1" role="dialog" aria-labelledby="modal-title-{{ staff.slug }}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{% t menu.close %}"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="modal-title-{{ staff.slug }}">{{ staff.name }}</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        {% img '{{ staff.image }}' alt:'{{ staff.name }}' class:'img-circle img-responsive img-grayscale' %}
                    </div>
                    <div class="col-lg-8 text-justify">
                        {{ staff.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
