<div class="row footer-bg">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row footer-dates">
    <div class="col-sm-6 col-lg-3 col-lg-offset-1">
        <div class="vertical-center">
            <h4>{% t global.dates %}</h4>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 col-lg-offset-4">
        <div class="vertical-center">
            <h4>{% t global.title_short %}</h4>
        </div>
    </div>
</div>
<div class="row footer-contact">
    <div class="col-lg-10 col-lg-offset-1">
        <p>{% t footer.more_info %}</p>
    </div>
</div>
