    <nav class="navbar navbar-default navbar-fixed-top" id="nav-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{% t menu.toggle %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="#performers">{% t menu.performers %}</a>
            </li>
              <li><a href="#workshops">{% t menu.workshops %}</a></li>
            <li><a href="#schedule">{% t menu.schedule %}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
           <li><a href="#sponsors">{% t menu.sponsors %}</a></li>
           <li>
           
{% if site.lang == site.default_lang %}
  {% capture link_en %}{{ site.baseurl_root }}en{{ page.url}}{% endcapture %}
  <a href="{{ link_en }}">{% t global.english %}</a>
{% else %}
  {% capture link_ee %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
  <a href="{{ link_ee }}">{% t global.estonian %}</a>
{% endif %}
           </li>
          </ul>
        </div>
      </div>
    </nav>

