    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{% t menu.toggle %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">{% t menu.performers %}</a>
            </li>
            <li><a href="#">{% t menu.schedule %}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="#">{% t menu.venues %}</a></li>
           <li><a href="#">{% t menu.tickets %}</a></li>
           <li><a href="#">{% t menu.about %}</a></li>
           <li>
           
{% if site.lang == "en" %}
  {% capture link_et %}{{ site.baseurl_root }}et{{ page.url}}{% endcapture %}
  <a href="{{ link_et }}" >{% t global.estonian %}</a>
{% else %}
  {% capture link_en %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
  <a href="{{ link_en }}" >{% t global.english %}</a>
{% endif %}
           </li>
          </ul>
        </div>
      </div>
    </nav>

