$icomoon-font-path: "fonts" !default;

$icon-chevron-right: "\e905";
$icon-ticket: "\e906";
$icon-map-marker: "\e907";
$icon-youtube: "\e900";
$icon-instagram: "\e901";
$icon-calendar: "\e902";
$icon-twitter-square: "\e903";
$icon-facebook-square: "\e904";

@font-face {
  font-family: 'icomoon';
  src:  url(asset_path('icomoon/fonts/icomoon.eot'));
  src:  url(asset_path('icomoon/fonts/icomoon.eot')) format('embedded-opentype'),
  url(asset_path('icomoon/fonts/icomoon.ttf')) format('truetype'),
  url(asset_path('icomoon/fonts/icomoon.woff')) format('woff'),
  url(asset_path('icomoon/fonts/icomoon.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket;
  }
}
.icon-map-marker {
  &:before {
    content: $icon-map-marker;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-twitter-square {
  &:before {
    content: $icon-twitter-square;
  }
}
.icon-facebook-square {
  &:before {
    content: $icon-facebook-square;
  }
}
