
body {
  min-height: 100em;
  padding-top: 70px;
}

.navbar-default {
  background-color: $body-bg;
  border-bottom: 0;

  .navbar-nav > li > a {
    color: $text-color;
    font-weight: bold;
  }
}


.header-jumbotron {
  padding-bottom: 2em;

  .vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20em;
  }

  img {
    height: 50%;
    margin: 2em auto 0;
    width: 50%;
  }

  + .row {
    background-image: url(image_path('mock1.jpg'));
    background-size: cover;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 50% 20%);
    min-height: 50em;
  }
}

.row.social {
  background-color: $gray-light;
  min-height: 10em;

  [class^="col-"] {
    padding: 5em 2em;
  }
  
  .btn-circle {
    margin-right: 1em;
  }

  [href*="facebook"] {
    color: $facebook-blue;
  }

  [href*="twitter"] {
    color: $twitter-blue;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      font-size: 3em;
    }
  }
}

.btn-circle.btn-lg {
  border-radius: 3.5em;
  height: 7em;
  padding: 10px 16px;
  padding-top: 2.5em;
  width: 7em;
}

// Last 2 rows
.row:nth-last-child(-n+2) {
  background-color: $brand-primary;
  color: $body-bg;
}

.row:nth-last-child(2) {
  clip-path: polygon(0 30%, 0 100%, 100% 100%, 100% 30%, 50% 0);  
  min-height: 20em;
  padding-top: 10em;
}

.row:nth-last-child(3) {
  background-image: url(image_path('mock2.jpg'));
  background-size: cover;
  margin-bottom: -9em;
  min-height: 50em;
}

// Last footer row
.row:last-child {
  padding-bottom: 4em;
}
