
body {
  min-height: 100em;
  padding-top: 70px;
}

i {
  font-size: 1em;
}

.navbar-default {
  background-color: $body-bg;
  border-bottom: 0;

  .navbar-nav > li > a {
    color: $text-color;
    font-weight: bold;
  }
}

.navbar-collapse {
  border-bottom: 1px solid;
}

.map-container {
  height: 30em;
}

.map {
  height: 100%;
  width: 100%;
}

.header-jumbotron {
  padding-bottom: 2em;

  h2 {
    text-align: center;
  }

  [class^="col-"]:last-child {
    h2 {
      font-size: ceil($font-size-base * 1.4);
    }
  }

  .vertical-center {
    flex-direction: column;
    height: 100%;
  }

  img {
    height: 80%;
    margin: 0 auto;
    width: 50%;
  }

  + .row {
    background-image: url(image_path('header.jpg'));
    background-size: cover;
    min-height: 30em;
  }
}

// Generic row with a gray background
.row.gray {
  background-color: $gray-light;
  min-height: 10em;
  text-align: center;

  [class^="col-"] {
    padding: 5em 2em;
    padding-bottom: 1em;
  }

  .btn-circle {
    margin-right: .8em;
    margin-top: .4em;
  }

  .lead {
    font-size: 2em;
    font-weight: bold;
  }
}

// Row with social icons and "bullet points"
.row.social {
  @include clip-down(10%);

  i {
    font-size: 3em;
  }

  [href*="facebook"] {
    color: $facebook-blue;

    :hover {
      color: darken($facebook-blue, 20%);
    }
  }

  [href*="twitter"] {
    color: $twitter-blue;

    :hover {
      color: darken($twitter-blue, 20%);
    }
  }

  [href$="ics"] {
    color: $google-calendar-blue;

    :hover {
      color: darken($google-calendar-blue, 20%);
    }
  }

  [href*="instagram"] {
    color: $gray-darker;

    :hover {
      color: lighten($gray-darker, 20%);
    }
  }

  [href*="youtube"] {
    color: $youtube-red;

    :hover {
      color: darken($youtube-red, 20%);
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      font-size: 3em;
    }
  }
}

[src*="piletilevi"] {
  width: 50%;
}

.modal-header {
  border-bottom: 0;
}

.modal-body {

  padding: 0 $modal-inner-padding $modal-inner-padding;

  .btn-buy {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
    display: block;
    width: 100%;
  }

  .text-content {
    margin-top: 1.5em;
  }

  img {
    display: block;
    margin-bottom: 1em;
    width: 100%;
  }

  .lead {
    text-align: center;
  }
}

.row.highlights {
  clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  min-height: 3em;
  padding-top: 3em;
  text-align: center;

  [class^="col-"] {
    padding: 0;
  }
}

button {
  &.close {
    background-color: $youtube-red;
    color: $body-bg;
    opacity: .7;
    padding: .5em;

    &:hover {
      color: $body-bg;
      opacity: 1;
    }
  }
}

.btn-circle {
  @include btn-circle(6em);
  font-size: $font-size-base;
  font-weight: bold;
}

// Last 2 rows
.row.footer-dates,
.row.footer-contact {
  background-color: $brand-primary;
  color: $body-bg;
}

.row.footer-dates {
  @include clip-up(10%);
  padding-top: 1em;
  text-align: right;
}

.row.footer-bg {
  background-image: url(image_path('footer.jpg'));
  background-size: cover;
  margin-bottom: -9em;
  min-height: 30em;
}

// Last footer row
.row.footer-contact {
  padding-bottom: 1em;

  p {
    text-align: center;
  }
}

blockquote {
  border-left: 0;
  font-size: 1.2em;
  font-weight: 300;

  footer {
    color: $gray-darker;
    font-size: 1.8em;
    font-weight: 400;

    &.no-dash::before {
      content: '';
    }
  }
}

.table {
  tbody {
    tr {
      td {
        border-top: 0;
        vertical-align: middle;
      }
    }
  }
}

.table-tickets {

  i {
    font-size: 2em;
  }

  tbody {
    tr {

      td {

        &:first-child {
          white-space: nowrap;
        }
      }
    }
  }
}

.col-day-info {

  img {
    margin-top: 5em;
    width: 100%;
  }
}

.col-schedule {

  h4 {
    display: table;
    height: 4em;
    margin-top: 1em;
    width: 100%;

    a {
      display: table-cell;
      text-align: center;
      vertical-align: bottom;
    }
  }

  img {
    @include clip-down(10%);
    height: 10em;
    object-fit: cover;
    width: 100%;
    margin-bottom: .3em;
  }

  a {
    color: $text-color;
  }
}

.google-map {
  border: 0;
  min-height: 40em;
  width: 100%;
}

.carousel {
  height: 25em;
  margin-top: 5em;

  .carousel-inner {
    height: 100%;

    .item {
      height: 100%;

      blockquote {
        @include flex-center;
        height: 100%;
      }
    }
  }
}

.image-container {
  position: relative;
  width: 100%;

  h3 {
    background: rgba($brand-primary, .7);
    bottom: .5em;
    color: $body-bg;
    left: 0;
    letter-spacing: 0;
    font-size: 80%;
    padding: .5em 1em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

.img-padded {
  padding: .4em;
}

.tilt5-banner {
  text-align: center;

  h1 {
    text-transform: uppercase;
  }
}