@mixin flex-center {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  display: flex;
}

@mixin clip-down($amount: 20%) {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 50% $amount);
}

@mixin clip-up($amount: 20%) {
  clip-path: polygon(0 $amount, 0 101%, 100% 101%, 100% $amount, 50% 0);
}

@mixin btn-circle($size: 6em) {
  border-radius: $size/2;
  min-height: $size;
  padding: $size/3 0;
  min-width: $size;
}

// Stub of the Bootstrap form-inline mixing from the _forms module
// This is used in the _navbar module, but we don't want to include _forms only because of that
@mixin form-inline {}
