
@media (min-width: $screen-sm-min) {
  .header-jumbotron {
    [class^="col-"]:last-child {
      h2 {
        font-size: $font-size-h2;
      }
    }
  }

  .row.social {
    [class^="col-"] {
      height: 20em;
      @include flex-center;
    }
  }
}

@media (min-width: $screen-md-min) {

  .row.social {
    @include clip-down(0);
    background-image: none;
    height: 18em;
  }


  h1 {
    margin-top: 35px;
  }

  .header-jumbotron {

    img {
      height: 100%;
      width: 90%;
    }

    + .row {
      @include clip-down(20%);
    }
  }

  .btn-circle {
    @include btn-circle(8em);
  }

  .row.clip-downward {
    clip-path: polygon(50% 20%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  }

  .col-schedule {
    img {
      height: 20em;
    }
  }
}
@media (min-width: $screen-lg-min) {

  [src*="piletilevi"] {
    width: 100%;
  }

  .btn-circle {
    font-size: $font-size-large;
  }

  h1 {
    margin-top: 70px;
  }

  .row.social {
    margin-bottom: 2em;

    [class^="col-"] {
      padding: 2em 0;
    }

  }

  .row.clip-roof {
    clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
    padding-top: 1em;
  }


  .row.highlights {
    clip-path: polygon(50% 20%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    margin-top: 2em;
    min-height: 5em;

    [class^="col-"] {
      padding: 4em;
    }
  }

  .row-buffer-top {
    margin-top: 2em;
    padding-bottom: 2em;
  }

  .header-jumbotron {

    [class^="col-"]:nth-child(2) {
      h2 {
        text-align: left;
      }
    }

    [class^="col-"]:last-child {
      h2 {
        text-align: right;
      }
    }

    .vertical-center {
      min-height: 20em;
    }

    img {
      height: 20em;
      margin: 2em auto 0;
      object-fit: scale-down;
    }
  }


  .modal-body {

    padding: 2em 3em;

    .time {
      text-align: right;
    }

    img {
      @include clip-down(10%);
    }
  }

  .map-container {
    margin-bottom: 3em;
  }


  .row.footer-dates {
    @include clip-up(30%);
    min-height: 20em;
    padding-top: 10em;
  }


  .row.footer-contact {
    padding-bottom: 4em;
  }

  .footer-bg {
    margin-top: 5em;
  }

}
