@charset 'utf-8';

$brand-primary: #a43a5a;
$brand-success: #a3cab4;
$brand-info:    #364883;
$brand-warning: #e8b329;
$brand-danger:  #d1752f;
$gray-light:    #ccc;

// Colors for the "social" bar font-icons
$twitter-blue: #4099ff;
$google-calendar-blue: #373ad7;
$facebook-blue: #3b5998;
$youtube-red: #b31217;

//$panel-default-heading-bg: $brand-primary;
//$panel-default-border: $brand-info;

@mixin fontdef($font-type:'Regular') {
  src: url(asset_path('#{$font-type}/OpenSans-#{$font-type}.eot')) format('embedded-opentype'),
    url(asset_path('#{$font-type}/OpenSans-#{$font-type}.woff2')) format('woff2'),
    url(asset_path('#{$font-type}/OpenSans-#{$font-type}.woff')) format('woff'),
    url(asset_path('#{$font-type}/OpenSans-#{$font-type}.ttf')) format('truetype'),
    url(asset_path('#{$font-type}/OpenSans-#{$font-type}.svg')) format('svg');
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef('Regular');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef('Semibold');
  font-weight: 500;
  font-style: normal;
}

$font-family-sans-serif: 'Open Sans', sans-serif;

@import 'icons';
@import 'mixins';

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'bootstrap';

@import 'improfestival';
@import 'utils';
@import 'responsive';
