
@charset 'utf-8';

$brand-primary: #a43a5a;
$brand-success: #a3cab4;
$brand-info:    #364883;
$brand-warning: #e8b329;
$brand-danger:  #d1752f;
$gray-light:    #ccc;


$twitter-blue: #4099ff;
$facebook-blue: #3b5998;

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'bootstrap';
@import '../bower/font-awesome/scss/font-awesome';


//$fa-font-path: 'fonts';

@font-face {
  font-family: 'FontAwesome';
  src: url(asset_path('fontawesome-webfont.eot'));
  src: url(asset_path('fontawesome-webfont.eot')) format('embedded-opentype'),
    url(asset_path('fontawesome-webfont.woff2')) format('woff2'),
    url(asset_path('fontawesome-webfont.woff')) format('woff'),
    url(asset_path('fontawesome-webfont.ttf')) format('truetype'),
    url(asset_path('fontawesome-webfont.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}


@import 'improfestival';
