---
layout: empty
---
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="{% t menu.close %}"><span
            aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-details-title">{{ page.name }}</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-12 col-lg-4">

        </div>
        <div class="col-xs-12 col-lg-8">
            {% assign month = page.start | date: '%B' | downcase | prepend: "month." %}
            {% assign venue = page.venue | prepend: "venues." %}
            <p class="lead time">{{ page.start | date: '%d' }} {% t month %} {% t content.at_oclock %}
                {{ page.start | date: '%H:%M' }} {% t venue %}</p>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-12">

                {{ page.content }}
                <hr />
        </div>
    </div>

    {% capture ticket_url %}{% t page.ticket_url %}{% endcapture %}
    {% unless ticket_url == 'https://' %}
    <div class="row">
        <div class="col-lg-12">
            {% if page.sold_out %}
            <button disabled="disabled" class="btn btn-primary btn-buy">{% t content.sold_out %}</button>
            {% else %}
            <a href="{{ ticket_url }}" target="_blank" class="btn btn-buy btn-info">{% t content.buy_ticket %}</a>
            {% endif %}
        </div>
    </div>
    {% endunless %}

</div>
