---
layout: empty
---
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="{% t menu.close %}"><span
            aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-details-title">{{ page.name }}</h3>
</div>

<div class="modal-body">
    <div class="row">

        <div class="col-xs-12 col-lg-4">
            {% img '{{ page.image }}' alt:'{{ page.name }}' title:'{{ page.name }}' class:'img-responsive img-grayscale' %}
        </div>

        <div class="col-xs-12 col-lg-8">

            <div class="text-content">
                {{ page.content }}
            </div>

        </div>
    </div>
</div>
