---
layout: empty
---
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="{% t menu.close %}"><span
            aria-hidden="true">&times;</span></button>
    <h1 class="modal-title" id="modal-details-title">{{ page.name }}</h1>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-4">
            {% img '{{ page.image }}' alt:'{{ page.name }}' class:'img-circle img-responsive img-grayscale' %}
        </div>
        <div class="col-lg-8 text-justify">
            {{ content }}
        </div>
    </div>
</div>
