---
layout: empty
---
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="{% t menu.close %}"><span
            aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-details-title">{{ page.name }}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 no-padding">
            {% img '{{ page.image }}' alt:'{{ page.name }}' title:'{{ page.name }}' class:'img-responsive img-grayscale' %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-justify text-content">
            {{ content }}
        </div>
    </div>
</div>
