<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="{% t menu.close %}"><span
            aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-details-title">{{ page.name }} ({{ page.country | upcase }})</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <p class="lead">“{% t page.title %}”</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 no-padding">
            {% img '{{ page.image }}' alt:'{{ page.name }}' %}
        </div>
    </div>
        <div class="row">
        <div class="col-lg-12">
            {% assign month = page.start | date: '%B' | downcase | prepend: "month." %}
            <p class="lead">{{ page.start | date: '%d' }} {% t month %} {% t content.at_oclock %}
                {{ page.start | date: '%H:%M' }} {% t content.in_location %} {{ page.venue }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-justify">
            {{ page.content }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button class="snipcart-add-item btn btn-buy btn-info"
                    data-item-name="{% t page.title %}"
                    data-item-id="{{ page.id }}"
                    data-item-image="/assets/{{ page.image }}"
                    data-item-url="{{ site.url }}"
                    data-item-max-quantity="1"
                    data-item-stackable="false"
                    data-item-shippable="false"
                    data-dismiss="modal"
                    data-item-price="{{ page.price }}">{% t content.buy_ticket %}
            </button>
        </div>
    </div>
</div>
